{{define "footer"}}

<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/messages.js" charset="utf-8"></script>
<script>
$(function() {
    var wsConn = new ServerConn();
    var startServerIntID = window.setInterval(function(){
        var ready = wsConn.CheckConn();
        if (ready === true) {
            $("#newserver-btn").click(function(){
                wsConn.StartServer("udp4","0.0.0.0",5000);
            })
            clearInterval(startServerIntID);
        }
    },3000);
});
</script>
</body>
</html>
{{end}}
