{{define "footer"}}

<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/messages.js" charset="utf-8"></script>
<script>
$(function() {
    var wsConn = new ServerConn();
    var startServerIntID = window.setInterval(function(){
        var ready = wsConn.CheckConn();
        if (ready === true) {
            $("#newserver-btn").click(function(){
                var proto = $("#listen-proto").find(".active").find("input").val();
                var port = parseInt($("#listen-port").val(),10);
                if (proto == "" || port == "" || port == 0 || port > 65535) {
                    alert("no good " + proto + " " + port)
                } else {
                    wsConn.StartServer(proto,"0.0.0.0",parseInt(port,10));
                }

            })
            clearInterval(startServerIntID);
        }
    },3000);
});
</script>
</body>
</html>
{{end}}
