{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>LogBuddy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/logbuddy.css" rel="stylesheet">
</head>
<body>
{{end}}
