{{define "body"}}
<div id="body-wrapper">
	<div id="sidebar">
		<ul class="sidebar-nav">
			<li>Home</li>
			<li>Servers</li>
		</ul>
	</div>
	<div id="log-panel" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Logs</h3>
		</div>
		<div id="logs" class="panel-body">

		</div>
	</div>
</div>
{{end}}
