{{define "body"}}
<div id="body-wrapper">
	<!-- sidebar -->
	<div id="sidebar">
		<ul class="sidebar-nav">
			<li class="sidebar-header"><a href="/">LogBuddy</a></li>
			<li>Servers <button class="btn btn-xs" data-toggle="modal" data-target=".newserver-modal"><span id="new-server" class="glyphicon glyphicon-plus"></span></button></li>
			<li></li>
			<ol id="server-list">
			</ol>
			<li><div>WebSocket Connection: <span id="status-icon" class="conn-status-disconn glyphicon glyphicon-flash" aria-hidden="true"></span></div></li>
		</ul>
	</div>
	<!-- main -->
	<div id="main-wrapper">
		<div id="log-panel" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Logs</h3>
			</div>
			<div id="logs" class="panel-body">

			</div>
		</div>
	</div>

	<div class="modal fade newserver-modal" tabindex="-1" role="dialog" aria-labelledby="newServerTitle" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="newServerTitle">Start New Server</h4>
				</div>
				<div class="modal-body">
					<div class="input-group">
						<form role="newserver">
						<input type="text" class="form-control" placeholder="Server hostname/ip">
						<input type="text" class="form-control" placeholder="5000">
						<div class="btn-group btn-group-justified" role="group" aria-label="protocols">
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default">TCP</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default">TCP4</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default">TCP6</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default">UDP</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default">UDP4</button>
							</div>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-default">UDP6</button>
							</div>
						</div>
					</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}
