#log-panel {
    width: 90%;
    height: 75%;
}
.sidebar-header {
    font-size: 20px;
    padding-bottom: 12px;
}
#logs {
    overflow-y: scroll;
}
#sidebar {
    width: 265px;
    z-index: 1000;
    left: 265px;
    margin-left: -265px;
    overflow-y: auto;
}
.sidebar-nav {
    position: fixed;
    top: 0;
    width: 265px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #000000;
    color: rgb(151, 151, 151);
    padding-left: 25px;
    padding-top: 45px;
}
#body-wrapper {
    padding-left: 250px;
}
#main-wrapper {
    position: relative;
    padding: 20px;
}
.conn-status-disconn {
    color: red;
}
.conn-status-conn {
    color: #00ff1d;
}
#server-list {
    font-size: 10px;
}
